*{
    margin: 0;
    padding: 0;
    border: 0;
}

/* font-family: "PlayRegular"; */
@font-face {
    font-family: "PlayRegular";
    src: url("../fonts/PlayRegular/PlayRegular.eot");
    src: url("../fonts/PlayRegular/PlayRegular.eot?#iefix")format("embedded-opentype"),
    url("../fonts/PlayRegular/PlayRegular.woff") format("woff"),
    url("../fonts/PlayRegular/PlayRegular.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}
/* font-family: "PlayBold"; */
@font-face {
    font-family: "PlayBold";
    src: url("../fonts/PlayBold/PlayBold.eot");
    src: url("../fonts/PlayBold/PlayBold.eot?#iefix")format("embedded-opentype"),
    url("../fonts/PlayBold/PlayBold.woff") format("woff"),
    url("../fonts/PlayBold/PlayBold.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}

body{
    display: flex;
    justify-content: center;

}

.wrapper{
    width: 793px;
    height: 1121px;
    font-family: PlayRegular;
    line-height: 2;

    /*for fixed bottom*/
    display: flex;
    flex-direction: column;
}

/*fixed bottom*/
.inner-wrap {
    flex: 1 0 auto;
}
.footer {
    flex: 0 0 auto;
}



.wrapper-image{
    position: absolute;
    width: 793px;
}

.paddings{
    padding-left: 58px;
    padding-right: 43px;
}
.upper{
    text-transform: uppercase;
}

/*Header*/

.header{
    background-color: #efefef;
    z-index: -1;
    height: 329px;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
}
.header__head{
    display: flex;
    justify-content: space-between;
    padding-top: 24px;
}
.header__title{
    font-family: PlayBold;
    font-size: 18px;
    color: #0E75BC;
}
.header__employee{
    padding-bottom: 20px;
}
.header__name{
    font-family: PlayBold;
    font-size: 24px;
}
.header__position{
    color: #0E75BC;
    font-size: 18px;
}

/*Summary*/

.summary{
    padding-top: 49px;
}
.summary__title{
    width: 50%;
    font-size: 24px;
    background-color: #0E75BC;
    color: white;
    margin-left: -58px;
    padding-left: 58px;
    margin-bottom: 20px;
}
.summary__list-ul{
    margin-left: 20px;
}


.summary__technologies{
    margin-top: 20px;
}
.summary__tech-title{
    width: 50%;
    border-bottom: 1px solid #FF9900;
    font-size: 24px;
}
.summary__tech-items{
    list-style: none;
}

/*Footer*/
.footer{
    background-color: #0E75BC;
    height: 57px;
    line-height: 57px;
    color: white;
}